<h1>Liste des équipes</h1>

<table class="table table-striped">
  <tr>
    <th>Nom club</th>
    <th>Nom compétition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipes.each do |equipe| %>
  <tr>
    <td><%= equipe.nom_club %></td>
    <td><%= equipe.nom_competition %></td>
    <td><%= link_to 'Voir', equipe, :class => "btn btn-info btn-small" %></td>
    <td><%= link_to 'Éditer', edit_equipe_path(equipe), :class => "btn btn-success btn-small" %></td>
    <td><%= link_to 'Supprimer', equipe, :method => :delete, :class => "btn btn-danger btn-small", :data => { :confirm => 'Êtes-vous sûr(e)?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle équipe', new_equipe_path %>
