<p id="notice"><%= notice %></p>

<p>
  <b>Nom club:</b>
  <%= @equipe.nom_club %>
</p>

<p>
  <b>Nom competition:</b>
  <%= @equipe.nom_competition %>
</p>


<%= link_to 'Edit', edit_equipe_path(@equipe) %> |
<%= link_to 'Back', equipes_path %>
