<%- model_class = Individu -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nom) %></th>
      <th><%= model_class.human_attribute_name(:prenom) %></th>
      <th><%= model_class.human_attribute_name(:date_de_naissance) %></th>
      <th><%= model_class.human_attribute_name(:sexe) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @individus.each do |individu| %>
      <tr>
        <td><%= link_to individu.id, individu_path(individu) %></td>
        <td><%= individu.nom %></td>
        <td><%= individu.prenom %></td>
        <td><%= individu.date_de_naissance %></td>
        <td><%= individu.sexe %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_individu_path(individu), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      individu_path(individu),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_individu_path,
            :class => 'btn btn-primary' %>
