<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style tyle="text/css">
			table {
				width: 100%;
				font-size: 11px;
			}
			
			table tr th.we {
				vertical-align: middle;
				text-align: center;
				font-weight: bold;
			}
			
			table tr td.equipe {
				vertical-align: middle;
				text-align: center;
				font-weight: bold;
			}
			
			table tr td.rencontre {
				vertical-align: middle;
				text-align: center;
			}			
		</style>
	</head>
	<body>

	<% @les_mois.each do |le_mois| %>
			<table style="page-break-after:always;">
				<tr>
					<th>&nbsp;</th>
					<% le_mois[:week_ends].each do |we| %>
						<th class="we"><%= we.map{ |d| I18n.l d, :format => :short }.join(" / ") %></th>
					<% end %>
				</tr>
				<% @equipes.each do |equipe| %>
					<tr>
						<td class"equipe"><%= equipe.nom_club %></td>
						<% le_mois[:rencontres][equipe].each do |rencontre| %>
							<td class="rencontre">
								<% if rencontre.nil? %>
									-
								<% else %>
									<% if rencontre.domicile? %> 
						            	<%= rencontre.equipe.nom_competition + " / " + rencontre.adversaire.nom %>
									<% else %>
						 				<%= rencontre.adversaire.nom + " / " + rencontre.equipe.nom_competition %>
									<% end %>
									<br/>-<br/><%= I18n.l(rencontre.jour, :format => "%A %d") %>
									<% if not rencontre.heure.nil? %>
										<br/>-<br/><%= I18n.l(rencontre.heure, :format => "%H:%M") %>
									<% end %>
									<% if not rencontre.numero.nil? %>
										<br/>-<br/>n&ordm; <%= rencontre.numero.to_s %>
									<% end %>
								<% end %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</table>
	<% end %>
	</body>
</html>
