<h1>Liste des rencontres</h1>

<table class="table table-striped">
  <tr>
    <th>Équipe</th>
    <th>Adversaire</th>
    <th>Jour</th>
    <th>Heure</th>
    <th>Domicile</th>
    <th>Exempt</th>
    <th>Reportée</th>
    <th>Numéro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rencontres.each do |rencontre| %>
  <tr>
    <td><%= rencontre.equipe %></td>
    <td><%= rencontre.adversaire.nom %></td>
    <td><%= I18n.l rencontre.jour %></td>
    <td><%= rencontre.heure.nil? ? "-" : I18n.l(rencontre.heure, :format => "%H:%M") %></td>
    <td><%= rencontre.domicile ? "Oui" : "Non" %></td>
    <td><%= rencontre.exempt  ? "Oui" : "Non" %></td>
    <td><%= rencontre.reportee  ? "Oui" : "Non" %></td>
    <td><%= rencontre.numero %></td>
    <td><%= link_to 'Voir', rencontre, :class => "btn btn-info btn-small" %></td>
    <td><%= link_to 'Éditer', edit_rencontre_path(rencontre), :class => "btn btn-success btn-small" %></td>
    <td><%= link_to 'Supprimer', rencontre, :method => :delete, :class => "btn btn-danger btn-small", :data => { :confirm => 'Êtes-vous sûr(e)?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle rencontre', new_rencontre_path %>
