<p id="notice"><%= notice %></p>

<p>
  <b>Équipe:</b>
  <%= @rencontre.equipe %>
</p>

<p>
  <b>Adversaire:</b>
  <%= @rencontre.adversaire.nom %>
</p>

<p>
  <b>Jour:</b>
  <%= I18n.l @rencontre.jour %>
</p>

<p>
  <b>Heure:</b>
  <%= I18n.l @rencontre.heure, :format => "%H:%M" %>
</p>

<p>
  <b>Domicile:</b>
  <%= @rencontre.domicile ? "Oui" : "Non" %>
</p>

<p>
  <b>Exempt:</b>
  <%= @rencontre.exempt ? "Oui" : "Non" %>
</p>

<p>
  <b>Reportée:</b>
  <%= @rencontre.reportee ? "Oui" : "Non" %>
</p>

<p>
  <b>Numéro:</b>
  <%= @rencontre.numero %>
</p>


<%= link_to 'Éditer', edit_rencontre_path(@rencontre) %> |
<%= link_to 'Retour', rencontres_path %>
