<h1>Liste des adversaires</h1>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th>Équipe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adversaires.each do |adversaire| %>
  <tr>
    <td><%= adversaire.nom %></td>
    <td><%= adversaire.equipe %></td>
    <td><%= link_to 'Voir', adversaire, :class => "btn btn-info btn-small" %></td>
    <td><%= link_to 'Éditer', edit_adversaire_path(adversaire), :class => "btn btn-success btn-small" %></td>
    <td><%= link_to 'Supprimer', adversaire, :method => :delete, :class => "btn btn-danger btn-small", :data => { :confirm => 'Êtes-vous sûr(e)?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel adversaire', new_adversaire_path %>
